<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="edufied" value="https://pkgs.dev.azure.com/edufied/_packaging/edufied/nuget/v3/index.json" />
    <add key="edufied-pub" value="https://pkgs.dev.azure.com/edufied/Edufied/_packaging/edufied-pub/nuget/v3/index.json" />
  </packageSources>
</configuration>