{{#AllAggregateRootEntities}}
DROP TABLE IF EXISTS [changes].[{{Schema}}_{{TableName}}_TrackedDelete]
DROP TABLE IF EXISTS [changes].[{{Schema}}_{{TableName}}_TrackedChange]

CREATE TABLE [changes].[{{Schema}}_{{TableName}}_TrackedChange]
(
    {{#ChangeDataColumns}}
       Old{{ColumnName}} {{DataType}} NOT NULL,
    {{/ChangeDataColumns}}
    {{#ChangeDataColumns}}
       New{{ColumnName}} {{DataType}} NULL,
    {{/ChangeDataColumns}}
       Id uniqueidentifier NOT NULL,
       ChangeVersion bigint NOT NULL,
    {{#HasDiscriminator}}
       Discriminator nvarchar(128) NULL,
    {{/HasDiscriminator}}
       CONSTRAINT PK_{{Schema}}_{{TableName}}_TrackedDelete PRIMARY KEY CLUSTERED (ChangeVersion)
)

{{/AllAggregateRootEntities}}