{{#AllAggregateRootEntities}}
CREATE TABLE [changes].[{{Schema}}_{{TableName}}_TrackedDelete]
(
    {{#PrimaryKeyColumns}}
       Old{{ColumnName}} {{DataType}} NOT NULL,
    {{/PrimaryKeyColumns}}
    {{#PrimaryKeyColumns}}
       New{{ColumnName}} {{DataType}} NULL,
    {{/PrimaryKeyColumns}}
       Id uniqueidentifier NOT NULL,
       ChangeVersion bigint NOT NULL,
       Discriminator nvarchar(128) NULL,
       CONSTRAINT PK_{{Schema}}_{{TableName}}_TrackedDelete PRIMARY KEY CLUSTERED (ChangeVersion)
)

{{/AllAggregateRootEntities}}