{{#TrackedTables}}
CREATE TABLE [tracked_deletes_{{Schema}}].[{{TableName}}]
(
    {{#ChangeDataColumns}}
       Old{{ColumnName}} {{ColumnDataType}} NOT NULL,
    {{/ChangeDataColumns}}
    {{#ChangeDataColumns}}
       New{{ColumnName}} {{ColumnDataType}} NULL,
    {{/ChangeDataColumns}}
       Id uniqueidentifier NOT NULL,
       ChangeVersion bigint NOT NULL,
    {{#HasDiscriminator}}
       Discriminator nvarchar(128) NULL,
    {{/HasDiscriminator}}
       CONSTRAINT PK_{{TableName}} PRIMARY KEY CLUSTERED (ChangeVersion)
)

{{/TrackedTables}}