{{#Aggregates}}
    {{#AggregateRoot}}
        {{#HasNonKeyColumnsOrReferences}}
        {{> MultiYear_0030_ForeignKeys__AttributeTable}}
        {{/HasNonKeyColumnsOrReferences}}

        {{#IdentifyingReferences}}
    -- Foreign key to identifying reference (for aggregate root entity)
    ALTER TABLE {{Schema}}.{{TableName}} WITH CHECK ADD CONSTRAINT {{ConstraintName}} FOREIGN KEY ({{ReferenceMemberName}}HashKey)
    REFERENCES {{ReferencedTableSchema}}.{{ReferencedTableName}} (HashKey)
    GO
        {{/IdentifyingReferences}}
    {{/AggregateRoot}}
    {{#Members}}
        {{#IdentifyingReferences}}
    -- Foreign key to identifying reference (for aggregate child entity)
    ALTER TABLE {{Schema}}.{{TableName}} WITH CHECK ADD CONSTRAINT {{ConstraintName}} FOREIGN KEY ({{ReferenceMemberName}}HashKey)
    REFERENCES {{ReferencedTableSchema}}.{{ReferencedTableName}} (HashKey)
    GO
        {{/IdentifyingReferences}}

        {{#HasNonKeyColumnsOrReferences}}
        {{> MultiYear_0030_ForeignKeys__AttributeTable}}
        {{/HasNonKeyColumnsOrReferences}}

    {{/Members}}
{{/Aggregates}}