{{#Aggregates}}
    {{#AggregateRoot}}
    CREATE TABLE {{Schema}}.{{TableName}} (
        HashKey uniqueidentifier NOT NULL,
        -- Primary key references
        {{#IdentifyingReferences}}
            {{#Column}}
        {{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL,
            {{/Column}}
        {{/IdentifyingReferences}}
        -- Primary key columns
        {{#PrimaryKeyColumns}}
        {{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL,
        {{/PrimaryKeyColumns}}
        -- Constraints
        CONSTRAINT {{TableName}}_PK PRIMARY KEY CLUSTERED (HashKey ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]
    GO

        {{#HasNonKeyColumnsOrReferences}}
    {{> MultiYearOds.0020-Tables__AttributeTable}}
        {{/HasNonKeyColumnsOrReferences}}

    {{/AggregateRoot}}
    
    {{#Members}}
    CREATE TABLE {{Schema}}.{{TableName}} (
        HashKey uniqueidentifier NOT NULL
        -- Identifying references
        {{#IdentifyingReferences}}
            {{#Column}}
        , {{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL
            {{/Column}}
        {{/IdentifyingReferences}}
        -- Contextual primary key
        {{#ContextualPrimaryKeyColumns}}
        , {{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL
        {{/ContextualPrimaryKeyColumns}}
        -- Constraints
        CONSTRAINT {{TableName}}_PK PRIMARY KEY CLUSTERED (
            HashKey ASC
        {{#IdentifyingReferences}}
            {{#Column}}
            , {{ColumnName}}
            {{/Column}}
        {{/IdentifyingReferences}}
        {{#ContextualPrimaryKeyColumns}}
            , {{ColumnName}}
        {{/ContextualPrimaryKeyColumns}}
    )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]
    GO

        {{#HasNonKeyColumnsOrReferences}}
    {{> MultiYearOds.0020-Tables__AttributeTable }}

        {{/HasNonKeyColumnsOrReferences}}
    {{/Members}}
{{/Aggregates}}