{{#Aggregates}}
    {{#AggregateRoot}}
    CREATE TABLE {{Schema}}.{{TableName}} (
        HashKey uniqueidentifier NOT NULL
        , SchoolYearContext smallint NOT NULL
        -- Primary key references
        {{#IdentifyingReferences}}
            {{#Column}}
        , {{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL
            {{/Column}}
        {{/IdentifyingReferences}}
        {{#HasLocallyDefinedPrimaryKeyColumns}}
        -- Primary key columns
            {{#LocallyDefinedPrimaryKeyColumns}}
        , {{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL
            {{/LocallyDefinedPrimaryKeyColumns}}
        {{/HasLocallyDefinedPrimaryKeyColumns}}
        {{> MultiYearOds.0020-Tables__CommonColumns }}
        -- Primary Key Constraint
        , CONSTRAINT {{TableName}}_PK PRIMARY KEY CLUSTERED (HashKey, SchoolYearContext)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
        ) ON [PRIMARY]
        WITH (SYSTEM_VERSIONING = ON (HISTORY_TABLE = {{Schema}}.{{TableName}}_AttributesHistory))
    GO
    {{/AggregateRoot}}
    
    {{#Members}}
    CREATE TABLE {{Schema}}.{{TableName}} (
        HashKey uniqueidentifier NOT NULL
        , SchoolYearContext smallint NOT NULL
        -- Identifying references
        {{#IdentifyingReferences}}
            {{#Column}}
        , {{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL
            {{/Column}}
        {{/IdentifyingReferences}}
        {{#HasLocallyDefinedPrimaryKeyColumns}}
        -- Primary key columns
            {{#LocallyDefinedPrimaryKeyColumns}}
        , {{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL
            {{/LocallyDefinedPrimaryKeyColumns}}
        {{/HasLocallyDefinedPrimaryKeyColumns}}
        {{> MultiYearOds.0020-Tables__CommonColumns }}
        -- Primary key constraint
        , CONSTRAINT {{TableName}}_PK PRIMARY KEY CLUSTERED (
            HashKey
            , SchoolYearContext
        {{#IdentifyingReferences}}
            {{#Column}}
            , {{ColumnName}}
            {{/Column}}
        {{/IdentifyingReferences}}
        {{#ContextualPrimaryKeyColumns}}
            , {{ColumnName}}
        {{/ContextualPrimaryKeyColumns}}
    )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]
    GO

    {{/Members}}
{{/Aggregates}}