BEGIN
    DECLARE @schoolYearContext AS INT = 2019

    -- disable all constraints
    EXEC sp_MSforeachtable "ALTER TABLE ? NOCHECK CONSTRAINT all"

{{#Aggregates}}
    {{#AggregateRoot}}
    {{> MultiYearOds.0025-PopulateTables__MergeInto}}

    {{/AggregateRoot}}
    
    {{#Members}}
    {{> MultiYearOds.0025-PopulateTables__MergeInto}}

    {{/Members}}
{{/Aggregates}}
    -- enable all constraints
    EXEC sp_MSforeachtable @command1="print '?'", @command2="ALTER TABLE ? WITH CHECK CHECK CONSTRAINT all"
END